<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <style>
        img {
            min-width: 300px;
            min-height: 200px;
            max-width: 300px;
            max-height: 200px;
        }
    </style>
</head>

<body>
    <div>
        {% for img_url in image_urls %}
        <img src="{{ img_url }}" {% if not loop.first %}style="display:none;" {% endif %}></img>
        {% endfor %}
    </div>
    <button id="prev" onclick="changeImage(-1)">Previous</button>
    <button id="next" onclick="changeImage(1)">Next</button>
    <div id="error"></div>
</body>
<script>
    function changeImage(direction) {
        var imgs = document.getElementsByTagName("img");
        for (var i = 0; i < imgs.length; i++) {
            if (imgs[i].checkVisibility()) {
                if (imgs[i + direction]) {
                    document.getElementById("error").innerText = ""
                    imgs[i].style.display = "none";
                    imgs[i + direction].style.display = "inline";
                } else {
                    document.getElementById("error").innerText = "can't do that"
                }
                break
            }
        }
    }
</script>

</html>