<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css"
        integrity="sha384-X38yfunGUhNzHpBaEBsWLO+A0HDYOQi8ufWDkZ0k9e0eXz/tH3II7uKZ9msv++Ls" crossorigin="anonymous">
    <style>
        img {
            min-width: 300px;
            min-height: 200px;
            max-width: 300px;
            max-height: 200px;
        }

        button {
            margin-right: 5px;
        }
    </style>
</head>

<body>
    <div>
        {% for img_url in image_urls %}
        <img src="{{ img_url }}" {% if not loop.first %}style="display:none;" {% endif %}></img>
        {% endfor %}
    </div>
    <button id="prev" class="pure-button pure-button-primary" onclick="changeImage(-1)"
        disabled>Previous</button><button id="next" class="pure-button pure-button-primary"
        onclick="changeImage(1)">Next</button>

</body>
<script>
    function changeImage(direction) {
        var imgs = document.getElementsByTagName("img");
        for (var i = 0; i < imgs.length; i++) {
            if (imgs[i].checkVisibility()) {
                if (imgs[i + direction]) {
                    imgs[i].style.display = "none";
                    imgs[i + direction].style.display = "inline";
                    if (i + direction == imgs.length - 1) {
                        document.getElementById("next").disabled = true;
                    } else {
                        document.getElementById("next").disabled = false;
                    }
                    if (i + direction > 0) {
                        document.getElementById("prev").disabled = false;
                    } else {
                        document.getElementById("prev").disabled = true;
                    }
                }
                break
            }
        }
    }
</script>

</html>